# Virtual environment
.venv/
ENV/
.env/
env/
.env

venv/

.env
research/Research 02.ipynb

# artifacts\data_conversion\data.csv
# artifacts\data_cleaning\data.csv
# artifacts\data_ingestion\data.db
# artifacts\data_report\data_report.txt
# artifacts\data_transformation\test.csv
# artifacts\data_transformation\train.csv
# artifacts\data_transformation\embeddings.npy
# artifacts\data_transformation\vectorizer.joblib

# artifacts/
logs/
.logs/
research/
.research/

.research
.research/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.swp

# OS specific files
.DS_Store
Thumbs.db

# Database files (agar local SQLite use kar rahe ho)
*.sqlite3
*.db

# Model files (agar trained models local store karte ho)
*.h5
*.pkl
*.joblib

# Node modules (agar frontend ya JS use ho)
node_modules/

# Build / dist folders
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/
