# streamlit>=1.30.0
# mlflow>=2.10.0
# protobuf==4.25.3
# #google-api-python-client

requests
pandas
python-box
requests
feedparser
python-dotenv
google-api-python-client
nltk
emoji
seaborn
matplotlib
wordcloud
scikit-learn
sentence-transformers
imbalanced-learn
mlflow
# mlflow-client  
mlflow[scikit-learn] 
streamlit 
plotly
dvc 
dvc-s3


airflow-operators
apache-airflow

apache-airflow-providers-slack
apache-airflow-providers-http